# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#           /======================\\`
#           | /==================\`||;
#           | |        ||        |;||;
#           | |   ,,   ||   ,,   |;||;
#           | |   ||   ||   ||   |;||;
#           | |   ||   ||   ||   |;||;
#           | |   ||   ``   ||   |;||;
#           | |   ||        ||   |;||;
#           | \––––––––––––––––––/´||;
#           \––––––––––––––––––––––//,
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#       COPYRIGHT (c) 2025 MYTHOS PROJECT
#              ALL RIGHTS RESERVED
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

*.o

*.elf

*.efi

serial.log

bin/
esp/

.vscode

.VSCodeCounter